.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;

}

.content {}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.text {
  color: #ffffff;
  font-size: 20px;
  margin: 0px;
}

.headings {}


.graphContainer {
  min-width: 300px;
  min-height: 300px;
  background-color: #373c46;
  margin: 20px;
}